<!DOCTYPE html>
<html>
<head>
    <title>Story - Student Performance Analysis</title>
</head>
<body>
    <h1>Story</h1>
    <div class="embed-container">
        <iframe src="https://us1.ca.analytics.ibm.com/bi/?perspective=story&amp;pathRef=.my_folders%2FStory&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;sceneId=-1&amp;sceneTime=0" width="1440" height="720" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
</body>
</html>
